<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated _12 -->
      <package
            uri="http://docs.oasis-open.org/tosca/ns/2011/12"
            class="_12._12Package"
            genModel="model/TOSCA/_12.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated _12 -->
      <parser
            type="_12"
            class="_12.util._12ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated _12 -->
      <package
            uri="http://www.w3.org/XML/1998/namespace"
            class="namespace.NamespacePackage"
            genModel="model/TOSCA/_12.genmodel"/>
   </extension>

</plugin>
